*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*font-family: 'Poppins', 'sans-serif';*/
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #ffffff;
	--text-color: #000;
	--secound-color: #a09dab;
	--main-color: #003172;
	--big-font: 8rem;
	--h2-font: 4rem;
	--p-font: 1.5rem;
	--font-vogue: vogue;
}
.sr{
	height: 100vh;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 5%;
	transition: .3s;
}
.logo img{
	max-width: 100%;
	width: 50px;
	height: auto;
}
.navlist{
    display: flex;
    width: 800px;
    justify-content: space-evenly;
}
.navlist li{
	position: relative;
}
.navlist a{
	font-size: 2rem;
	color: var(--text-color);
	font-weight: 500;
}
.navlist a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 5px;
	background: var(--main-color);
	bottom: 3px;
	left: 0;
	transition: ease .40s;
}
.navlist a:hover::after{
	width: 100%;
}
#menu-icon{
	font-size: 60px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}
.top-btn{
	display: inline-block;
	padding: 10px 70px;
	background: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 30px;
	color: var(--bg-color);
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: ease .50s;
}
.top-btn:hover{
	transform: scale(1.05);
	background: var(--main-color);
	border: 2px solid var(--main-color);
	color: var(--bg-color);
}

section{
	padding: 100px 18%;
}

.padding-home{
	padding: 200px 10%;
}

.home{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background: linear-gradient(to top right, #ffffff 0%, #ffffff 100%);
	background: url(../img/Dana-Vitorino-Portada-WEB.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 0rem;
}
.home-text h1{
/*	margin: 100px 0px 100px;*/
	font-size: var(--big-font);
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
	font-family: vogue;
}

.home-text h2{
	margin-left: 130px;
	font-size: 4rem;
	font-family: var(--font-vogue);
	font-weight: 500;
	color: var(--main-color);
	text-transform: uppercase;
}
.home-text h5{
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;
}
span{
	color: var(--main-color);
}
.home-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.home-text p{
	font-size: var(--p-font);
	line-height: 28px;
	margin-bottom: 20px;
}

.social{
	margin-top: 2rem;
}

.social a{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-size: 40px;
    color: var(--bg-color);
    margin-right: 50px;
    margin-bottom: 30px;
}
.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}
.btn{
	display: inline-block;
	color: var(--bg-color);
	background: var(--main-color);
	font-size: var(--p-font);
	padding: 15px 70px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}
.btn:hover{
	transform: scale(1.05);
}
.home-img img{
	max-width: 100%;
/*	width: 540px;	*/
	height: auto;
/*	margin-left: 60px;*/
	z-index: -1;
	margin-top: 10px;
}
header.sticky{
	background: var(--bg-color);
	padding: 13px 5%;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.items{
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
}

.editorial-p{
font-size: 1.6rem;
}


.sub-box{
	padding: 45px 45px 45px 45px;
	transition: ease .50s;
	cursor: pointer;
}
.sub-img img{
	max-width: 100%;
	width: 60px;
	height: auto;
	margin-bottom: 20px;
}
.sub-box h3{
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
}
.sub-box p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 29px;
}
.sub-box:hover{
	background: #ffffff;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 2rem;
}

.about-title{
margin-top: 2.5rem;
}

.about-img img{
	max-width: 100%;
	width: 540px;
	height: auto;
}
.about-text h2{
	font-family: sans-serif;
	font-weight: 500;
	font-size: 2rem;
	margin: 0px 0px 25px;
	line-height: 0.7;
	text-transform: uppercase;
}
.about-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.about-text p{
	max-width: 550px;
	font-size: 1.5rem;
	color: var(--text-color);
	line-height: 2rem;
	margin-bottom: 45px;
}

.about .centerText {
	margin-top: 40%;
}

.myProject{
	color: white;
	text-transform: uppercase;
	font-size: 4rem;
	font-family: vogue;
	font-weight: 400;
	text-align: center;
	margin-bottom: 5rem;
}

.arrowRight{
	margin-top: 20%;
	font-size: var(--h2-font);
	color: var(--main-color);

}

.arrowLeft{
	font-size: var(--h2-font);
	color: var(--main-color);
	position: relative;
    left: 80%;
}

.commercial{
	text-align: center;
}
.commercial h2{
	text-transform: uppercase;
	font-family: var(--font-vogue);
	font-weight: 500;
	font-size: var(--h2-font);
	margin: 7px 0px 20px;
	line-height: 1.1;
}
.commercial h3{
	color: var(--main-color);
	font-size: 20px;
}
.commercial p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
}
.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
}

.container-grid-commercial{
	display: grid;
	height: 1000px;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(4,1fr);
	grid-template-areas: 
	"img-1 img-2 img-3"
	"img-1 img-2 img-3"
	"img-4 img-5 img-6"
	"img-4 img-5 img-6";
	gap: 1rem;
}


.col{
	position: relative;
}
.col img{
	max-width: 100%;
	width: 550px;
	height: auto;
	object-fit: cover;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	transition: all .40s;
}
.layer:hover{
	background: linear-gradient(rgba(0,0,0,0.5) 0%, #05317ad6);
}
.layer h3{
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h3{
	bottom: 52%;
	opacity: 1;
}

.layer h5{
	position: absolute;
	width: 100%;
	font-size:17px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h5{
	bottom: 48%;
	opacity: 1;
}

.borderRecto img{
	border-radius: 0px;
}

.service-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}
.row{
	background: #ffffff;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	padding: 45px 45px 45px 45px;
	transition: ease .45s;
	cursor: pointer;
}
.s img{
	height: 65px;
	width: 65px;
	background: #f75124;
	padding: 15px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.s.s-tow img{
	background: #baebcd;
}
.s.s-three img{
	background: #d9d1fa;
}
.s.s-four img{
	background: #faedce;
}
.row h3{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 2px;
}
.row h5{
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 19px;
}
.row p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
}
.row:hover{
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

.cta-box{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
}
.wrap{
	background: #ffffff;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	padding: 50px 50px 50px 50px;
	transition: ease .40s;
	cursor: pointer;
}
.one{
	background: #baebcd;
}
.two{
	background: #D9D1FA;
}
.three{
	background: #faedce;
}
.wrap h3{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 2px;
}
.wrap p{
	font-size: var(--p-font);
}

.contact{
	margin: 100px 18%	;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 12px;
	background-size: cover;
}
.center h3{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 3px;
	color: var(--bg-color);
}
.center p{
	font-size: var(--p-font);
	color: var(--bg-color);
	line-height: 26px;
	margin-bottom: 25px;
}
.contact .action form input[type="email"] {
	max-width: 100%;
	width: 470px;
	padding: 12px 15px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	margin: 0 10px 20px 0;
	border-radius: 30px;
}
.contact .action form input[type="submit"] {
	padding: 12px 40px;
	background: var(--main-color);
	color: var(--bg-color);
	border: none;
	outline: none;
	margin: 0 10px 20px 0;
	border-radius: 30px;
	cursor: pointer;
}

/*Footer*/


.end {
	margin: 100px 0%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	background: #FFFFFF;
	box-shadow: 1px 17px 47px rgba(0, 0, 0, 0.25);
}

.end-name {
	
	padding: 8em;
}

.end-name-tittle {
	font-family: vogue;
	font-weight: 500;
	font-size: var(--h2-font);
	line-height: 54px;
	color: #000000;
	margin: 5;
}

.end-name-descrip {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;

	color: #000000;


}

.end-name-social a {

	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	color: #003172;
	padding: 1rem;
}

.end-contact {
	padding: 8em;
	
}

.end-contact h3{
	color: #003172;
	font-size: 1.5rem;
}

.end-contact ul li{
	padding-top: 1em;
}

.end-contact i {
	font-size: 1.5rem;
	color: #003172;
} 

.end-bar {
display: flex;
height: 52px;
grid-column: 1/3;
grid-row: 2;
align-items: center;
justify-content: center;
text-align: center;
background: #003172;
border-radius: 0px 0px 10px 10px;
}

.end-bar p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17.1214px;
line-height: 26px;
letter-spacing: 1px;
color: #FFFFFF;
}

/*Footer*/

@media (max-width: 1425px){
	header{
		padding: 45px 9%;
		transition: .3s;
	}
	header.sticky{
		padding: 10px 9%;
		transition: .3s;
	}
	section{
		padding: 70px 3%;
		transition: .3s;
	}
	:root{
		--big-font: 4rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: .3s;
	}

	.contact{
		margin: 70px 3%;
	}

	.end{
		margin: 70px 0%;
	}
}

@media (max-width: 970px){
	.top-btn{
		display: none;
	}

	#menu-icon{
		display: block;
	}
	.home{
		min-height: 80vh;
	}
	.navlist{
		position: absolute;
		top: -750px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--main-color);
		text-align: center;
		transition: all .40s;
		opacity: 0.98;
		font-size: 1.5rem;
	}
	.navlist a{
		display: block;
		padding: 1.2rem;
		margin: 1.5rem;
	/*	border-right: 2px solid var(--bg-color);*/
		color: var(--bg-color);
		font-family: vogue;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.5;
		text-decoration: underline;
	}
	.navlist a:hover{
	/*	background: var(--bg-color);
		color: var(--main-color);	*/
		text-decoration: underline;
	}
	.navlist a::after{
		display: none;
	}
	.navlist.active{
		top: 100%;
		height: 100vh;
	}
}

@media screen and (min-width:971px) and (max-width:1024px){

	.navlist.active {
		padding: 100px;
	}

	.logo img {
		max-width: 100%;
		width: 100px;
		height: auto;
	}

	.top-btn{
		display: none;
	}

	#menu-icon{
		display: block;
		font-size: 120px;
	}
	.home{
		min-height: 65vh;
	}
	.navlist{
		position: absolute;
		top: -750px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--main-color);
		text-align: center;
		transition: all .40s;
		opacity: 0.98;
		font-size: 1.5rem;
	}
	.navlist a{
		display: block;
		padding: 1.2rem;
		margin: 1.5rem;
	/*	border-right: 2px solid var(--bg-color);*/
		color: var(--bg-color);
		font-family: vogue;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.5;
		text-decoration: underline;
	}
	.navlist a:hover{
	/*	background: var(--bg-color);
		color: var(--main-color);	*/
		text-decoration: underline;
	}
	.navlist a::after{
		display: none;
	}
	.navlist.active{
		top: 100%;
	}

	.home-text.mostrarDesktop {
		margin-left: -160px;
		margin-bottom: 0px;	}

	.btn{
		padding: 20px 100px;
		font-size: 1.8rem;
	}

	.home-text h1 {
		font-size: 8rem;
	}

	.home-text h2{
		font-size: 4rem;
	}

	.home p{
		font-size: 1.5rem;
		margin-bottom: 50px;
	}

	.home-img img{
		width: 500px;
		height: auto;
		margin-left: -8px;
		z-index: -1;
		margin-top: 380px;
	}

	.home {

	}

	.padding-home {
		padding: 0 0;
	}

	.end-name {
		padding: 4em;
	}
	.end-contact {
		padding: 4em;
	}
	.end {
		margin: 70px 0%;
	}

	.contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
	}
}



@media (min-width: 800px){
	.mostrarMobile{
		display: none;
	}
	.about-me-h2-xs{
		display: none;
	}
	.about-img-mobile{
		display: none;
	}
}

@media (max-width: 800px){

	/*Inicio Estilos mobile*/

	.mostrarDesktop{
		display: none;
	}

	.padding-home {
		padding: 0px 0%;
	}

	.home-text h1{
		font-size: 5rem;
		padding-left: 45px;
	}

	.home-text h2{
		margin-left: 22%;
    	font-size: 2rem;
	}

	.social {
		margin-left: 135px;
		margin-top: 2rem;
		width: 190px;
		position: relative;
		right: -30%;
	}
	.btn{
		padding: 10px 50px;
		position: relative;
    	right: -30%;
	}
	/*Fin Estilos mobile*/


	.home{
		grid-template-columns: 1fr;
		min-height: 100vh;
	/*	grid-gap: 1rem;*/
	}
	.home-text{
		padding-top: 0px;
		position: absolute;
	}
	.home-img{
		text-align: center;
		max-width: 300px;
	}
	.home-img img{
		text-align: center;
		max-width: 370px;
		/* background-color: aqua; */
		margin-left: -183px;
		margin-top: 284px;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
	}
	:root{
		--big-font: 3.4rem;
		--h2-font: 2rem;
	}
	section{
		padding: 65px 3%;
		transition: .3s;
	}

	.portfolio-content {
		grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	}

	.end-contact {
		display: none;
	}
}

@media screen and (min-width:350px) and (max-width:649px){

	.navlist a {
		font-size: 1.5rem;
		padding: 15px;
		margin-left: -50%;
	}

	.navlist{
		top: -750px;
	}
	.home-text h1 {
		font-size: 4rem;
		padding-left: 30px;
	}	
	.home-text h2 {
		margin-left: 22%;
	}

	.home img{
		width: 290px;
		margin-left: -70px;
		margin-top: 445px;
	}

	.home-img{
		max-width: 200px;
	}

	.social {
		margin-left: 135px;
		margin-top: 2rem;
		width: 170px;
		position: relative;
		right: 100px;
	}
	.btn {
		padding: 10px 30px;
		position: relative;
		right: -35px;
		width: 170px;
	}

	.about-title-h2-xs{
		background-color: #969292;
	}

	.portfolio-content {
		grid-template-columns: repeat(auto-fit, minmax(160px, auto));
	}

	/*ABOUT ME*/

	.about-me-h2-xs h2{
		text-align: center;
		text-decoration: underline;
	}

	.about-me-h2-xs-ocultar {
		display: none;
	}

	.about-text-mobile p{
		margin-top: -40px;
	}

	.about-img-mobile-ocultar{
		display: none;
	}
	.about2-text-mobile p{
		margin-top: -150px;
	}

	p.about2-text {
		margin-top: -130px;
		display: none;
	}



	.contact-form form input, .contact-form form textarea {
		text-align: center;
	}

	.contact {
		width: 100%;
		margin: 100px 0%;
	}

	.contact-title h2 {
		text-align: center;
	}

	.contact-form form p {
		margin: 0;
		padding: 1em;
		text-align: center !important;
		grid-column: 1 / 3;
	}

	.btn-enviar {
		width: 100% !important;
		right: -50%;
	}

	.end{
		grid-template-columns: repeat(1,1fr);
		text-align: center;
	}
	.end-name {
		padding: 1em;
	}

	.container-grid-Aldana,
	.container-grid-Giuliano,
	.container-grid-musculosas,
	.container-grid-NadiayCelina,
	.container-grid-winters{
		height: auto;
	}
}

@media screen and (min-width:350px) and (max-width:400px){
	.home-text {
		padding-top: 140px;
	}

	.navlist a {
		padding: 8px;
	}

	.home img {
		margin-top: 377px;
	}
}

@media screen and (min-width:650px) and (max-width:800px){

	.home-text h1 {
		font-size: 7rem;
		padding-left: 70px;
	}
	.home-text h2 {
		font-size: 3.5rem;
	}

	.home-text p{
		font-size:1.5rem;
	}

	.home-img img{
		margin-top: 575px;
		margin-left: 0px;
		max-width: 450px;
	}
	.social{
		right: -340px;
		width: 250px;
	}
	.btn{
		margin-top: 20px;
		right: -50%;
	}

	.end{
		grid-template-columns: repeat(1,1fr);
		text-align: center;
	}


	/*ABOUT ME*/

	.about-me-h2-xs h2{
		text-align: center;
		text-decoration: underline;
	}

	.about-me-h2-xs-ocultar {
		display: none;
	}

	.about-text-mobile p{
		margin-top: -40px;
	}

	.about-img-mobile-ocultar{
		display: none;
	}
	.about2-text-mobile p{
		margin-top: -150px;
		margin-left: 0px;
	}

	.about2-text {
		margin-top: -300px;
	}

	.about-text{
		margin-left: 90px;
	}
	
}


@media (max-width: 540px){
	.contact .action form input[type="email"] {
		width: 310px;
	}
}

@media(max-width:900px){
	.contact{
		width: 100%;
		margin: 100px 0%;
	}
	
}

.titulo-album{
	padding: 0 18%;
	position: absolute;
	padding-top: 50px;
	font-size: 2rem;	
}

.titulo-album-right{
right: 0;
}

/*Formulario Contacto*/

.contact-title{
	text-align: start;	
}

.contact-title h2{
	text-transform: uppercase;
	font-family: vogue;
	font-weight: 500;
	font-size: var(--h2-font);
	margin: 7px 0px 20px;
	line-height: 0.8;
	text-align: center;
}

.contact-ul {
    list-style: none;
    padding: 0;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
/*    padding: 1em;*/
}

.contact-p{
	padding: 0px 20px;
	padding-top: 30px;
	font-size: 1.8rem;
	text-align: left;
}
.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
	text-align: left;
	height: 200px;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid #003172;;
	font-size: 1.5rem;
}

/* CONTACT INFO */
.contact-info {
    background: #D9D9D9;	;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.btn-enviar{
	margin-left: 0px;
	width: 56%;
	background-color: var(--main-color) !important;
}


/* LARGE SIZE */

@media(min-width: 770px) {
    body {
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
		grid-gap: 1rem;
    }
    .contact-wrapper > * {
    /*    padding: 2em;*/
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}


/*
	S W I P E R    C S S 

*/

.dana-Project {
	background: var(--main-color);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;  
	min-height: 750px;
	border-radius: 3rem 3rem 0px 0px;
  }
  .container-miSwiper{
	width: 90%;
	overflow: hidden;
/*	padding: 0px 70px;*/
	position: absolute;
  }
  .container .swiper-container{
	width: 90%;
	height: 100%;
  }
  .container .swiper-slide {
	position: relative;
	text-align: center;
	font-size: 18px;
	background: #fff;
	text-align: start;
/*	box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);	*/
   
  }
  .container .swiper-slide img{
	display: block;
	width: 100%;
	height: 300px;
	object-fit: cover;
  }
  .container .swiper-slide .card-description{
	  padding:1rem 1rem;
  }
  .container .swiper-slide .card-title,.container .swiper-slide .card-text{
	 margin-bottom: .5rem;
  }
  .container .swiper-slide .card-link{
	 text-align: center;	
  }
  .container .swiper-slide .card-link a{
	  text-decoration: none;
	  color: #1d6ce2;
  }
  .card-link{
	display: block;
  }
  .swiper-button-next{
	color:var(--main-color);
	  right: -20px !important;
	  font-weight: 600;
  }
  .swiper-button-prev{
	color:var(--main-color);
	  left: 26px !important;
	  font-weight: 600;
  }
  
  .swiper-button-next {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    display: block !important;
    top: 57% !important;
	}
  
  .swiper-button-prev{
	background-color: #3205ff;
	width: 50px;
	height: 50px;
	border: 0.2rem solid white;
	border-radius: 50%;
	display: none !important;
  }

  /*
  
 ABOUT JS 
 
  */

.swiper-containerAbout {
   max-width: 550px;
   overflow: hidden;
   /* min-height: 395px; */
   height: auto;
   padding: 0px 50px;
}



.about-img .container .swiper-slide img{
	display: block;
	width: 100%;
	height: 450px;
	object-fit: cover;
}

/*     G A L L E R Y*/ 

.container-grid-Aldana{
	display: grid;
	height: 1000px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(6,1fr);
	grid-template-areas: 
	"img-2 img-2 img-3 img-3"
	"img-2 img-2 img-3 img-3"
	"img-2 img-2 img-5 img-5"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5";
	gap: 1rem;
}

.container-grid-Giuliano{
	display: grid;
	height: 1000px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(7,1fr);
	grid-template-areas: 
	"img-2 img-2 img-3 img-3"
	"img-2 img-2 img-3 img-3"
	"img-2 img-2 img-3 img-3"
	"img-6 img-6 img-3 img-3"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5";
	gap: 1rem;
}

.container-grid-liberté{
	display: grid;
	height: 1000px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(7,1fr);
	grid-template-areas: 
	"img-2 img-2 img-5 img-5"
	"img-2 img-2 img-5 img-5"
	"img-2 img-2 img-5 img-5"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5";
	gap: 1rem;
}

.container-grid-musculosas{
	display: grid;
	height: 1500px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(7,1fr);
	grid-template-areas: 
	"img-1 img-1 img-2 img-2"
	"img-1 img-1 img-2 img-2"
	"img-3 img-3 img-2 img-2"
	"img-3 img-3 img-4 img-4"
	"img-6 img-6 img-4 img-4"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-5 img-5";
	gap: 1rem;
}

.container-grid-NadiayCelina{
	display: grid;
	height: 1750px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(9,1fr);
	grid-template-areas: 
	"img-1 img-1 img-3 img-3"
	"img-1 img-1 img-3 img-3"
	"img-2 img-2 img-3 img-3"
	"img-2 img-2 img-3 img-3"
	"img-4 img-4 img-5 img-5"
	"img-4 img-4 img-5 img-5"
	"img-6 img-6 img-5 img-5"
	"img-6 img-6 img-7 img-7"
	"img-6 img-6 img-7 img-7";
	gap: 1rem;
}

.container-grid-weekend{
	display: grid;
	height: 2500px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(7,1fr);
	grid-template-areas: 
	"img-1 img-1 img-3 img-3"
	"img-1 img-1 img-3 img-3"
	"img-2 img-2 img-3 img-3"
	"img-2 img-2 img-5 img-5"
	"img-2 img-2 img-5 img-5"
	"img-4 img-4 img-6 img-6"
	"img-4 img-4 img-6 img-6";
	gap: 1rem;
}


.container-grid{
	display: grid;
	height: 1000px;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(6,1fr);
	grid-template-areas: 
	"img-1 img-2 img-3 img-3 img-3"
	"img-1 img-2 img-3 img-3 img-3"
	"img-4 img-4 img-3 img-3 img-3"
	"img-4 img-4 img-3 img-3 img-3"
	"img-6 img-6 img-5 img-5 img-5"
	"img-6 img-6 img-5 img-5 img-5";
	gap: 2rem;
}

.container-grid-winters{
	display: grid;
	height: 1500px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(6,1fr);
	grid-template-areas: 
	"img-3 img-3 img-6 img-6"
	"img-3 img-3 img-6 img-6"
	"img-3 img-3 img-6 img-6"
	"img-5 img-5 img-6 img-6"
	"img-5 img-5 img-6 img-6"
	"img-5 img-5 img-6 img-6";
	gap: 1rem;
}

.img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img:hover{
	cursor: pointer;
	filter:grayscale(50%);
	transition: filter .5s;
}

.img-1{
	grid-area: img-1; 
}
.img-2{
	grid-area: img-2; 
}
.img-3{
	grid-area: img-3; 
}
.img-4{
	grid-area: img-4; 
}
.img-5{
	grid-area: img-5; 
}
.img-6{
	grid-area: img-6; 
}
.img-7{
	grid-area: img-7; 
}
.img-8{
	grid-area: img-8; 
}
.img-9{
	grid-area: img-9; 
}
.img-10{
	grid-area: img-10; 
}

.container-img{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background-color: rgb(0 0 1 / 85%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .4s ease-in;
}

.move{
	transform: translateY(0);
	z-index: 9999;
}

.img-show {
    margin-top: 0%;
    height: 75vh;
    width: 75vh;
    display: block;
    object-fit: cover;
}

.copy{
	position: fixed;
	color: #fff;
}

.bx.bx-x{
    position: absolute;
    color: #fff;
	top: 15%;
    right: 15%;
    /* font-size: 1rem; */
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;	
}

.bx.bx-x-ligthBox{
    background: blue;
	top: 11.5%;
    right: 30.5%;
}


@media screen and (min-width:350px) and (max-width:649px){

	.swiper-button-next {
		right: -35px !important;
	}

	.dana-Project {
		border-radius: 0px;
	}

	.swiper-containerAbout {
		max-width: 350px;
		padding: 0px 30px;
	}

	.container-grid-Aldana,
	.container-grid-Giuliano,
	.container-grid-musculosas,
	.container-grid-NadiayCelina,
	.container-grid-winters,.container-grid-weekend{
		height: auto;
	}

	.bx.bx-x{
		top: 30%;
		right: 15%;
	}

	.titulo-album {
		padding: 0 2%;
		position: absolute;
		padding-top: 15px;
		font-size: 2rem;
	}
}






/*F I N   G A L L E R Y*/ 